body {
  font-family: "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  max-width: 1200px;
  /* margin-left: 2rem; */
}
a {
  text-decoration: none;
  color: #aab3bf;
}
header {
  width: 100%;
  padding: 0rem 5rem;
  display: flex;
  background-color: #fefefe;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 4px 12px #aab3bf;
}
header > .content {
  display: flex;
  color: #6892ec;
  font-weight: 700;
  flex: 1;
}
section {
  padding: 4rem 0rem;
  margin: 0rem 5rem;
  line-height: 1.6rem;
}
.row {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: flex-end;
  flex: 2;
}
li {
  margin: 1rem;
}

.intro {
  display: flex;
  background-color: linear-gradient(right, #f3f7f9, #e7ecf2);
  justify-content: space-between;
}

.content {
  max-width: calc(100% / 2);
  color: #a4acba;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.content > h1 {
  color: #414b5c;
}
.image {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #e7ecf2;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right:2rem ;
  /* margin-right: 10rem; */
}
.text {
  line-height: 1.6rem;
}

button{
    background-color: #1154EF;
    height: 37px;
    width: 100px;
    border-radius: 4.5px;
    border: 1px solid;
    color: #99B5F1;
    /* padding: ; */
}
