body{
    background-image: url(https://thumbs.dreamstime.com/b/beautiful-view-nature-mountains-near-konigssee-lake-bavaria-germany-blue-sky-clouds-97444419.jpg?w=768);
    background-size: cover;
   margin-left: 0;

}
div{
   width: 60%;
   background-color: purple;
   padding: 5px;
}
.transparent{
    color:transparent;
    background-color: transparent;
}
